<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bozorgzad.ali.introducingtvus">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".Global"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:configChanges="locale|layoutDirection"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.Launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivitySettings"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ActivityUniDetails"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ActivityUniMoreInfo"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ActivityUserGoogleSignIn"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ActivityUserSignInAndRegister"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ActivityUserEditProfileAndSignOut"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ActivityUniReviews"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ActivityAboutUs"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ActivityFeedback"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".ActivityUserChangePassword"
            android:screenOrientation="sensorPortrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.Launcher"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/manifest_scheme"
                    android:host="@string/manifest_host_name"
                    android:pathPrefix="@string/manifest_path_prefix" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivitySearchUni"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>

    </application>

</manifest>